#home{
    background: #007bff;
    color: #fff;
}

.caixa{
    margin-top: 60px;
}

footer{
    background-color: #231f20;
    padding: 50px 0px;
    position: relative;
}

footer .navbar-nav a{
    color: #fff;
    font-size: 0.9em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
}

footer h4{
    color: #fff;
}
footer ul{
    list-style: none;
}
footer ul li{
    float: right;
    margin: 0px 5px;
}